body{background:#dadada; font-family: 'Rosario', serif; font-weight: 100;}
.cv-wrapper{width: 938px; 
    margin: 50px auto;padding: 10px; 
    text-align:center; border: 1px solid #ccc;
    overflow:auto; background: #f5f5f5;
    box-shadow: 0 3px 5px rgba(0,0,0,.4);
    border-radius: 3px;border-top: 1px solid #fff;
    position: relative;
}
h2,h3,h4,h5{font-weight: 100;}
ul li{list-style-image: url(../images/icons/plus.png);}
h2,.cv-career-objective h3, .cv-key-skills h3{
    position:absolute; top: -13px; left: 0; right: 0;
    font-size: 16px; text-transform: uppercase;
    color:#dfdfdf; letter-spacing: 0.1em;
    border-top: 1px solid #fff; padding-top:5px;
    text-shadow: 0 1px 0 #fff;
}
.cv-career-objective h3, .cv-key-skills h3{
    border-top:none;
}
.cv-header{width:940px; border-bottom: 1px solid #eee; overflow:auto; position: relative; text-align: center; background: #f5f5f5;z-index: 100;}
.cv-picture{
    width: 0%; float:left; margin: ;
    height:150px;
}
.cv-contact-info{
    width: 96%;
    text-align:left;
    padding: 0 2%;
    font-size: 14px;
    float:left;
}
.cv-contact-info h1{
  font-size: 24px;
  text-align: center;
  color:#444;
  text-transform: uppercase;
  font-weight: 200;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 15px
}
.cv-contact-info address{
    color:#888;
    font-size: 16px;
    font-style: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
}
.cv-contact-details{
    width: 100%;
    background:#343434;
    border-radius: 19px;
    padding: 10px 5px;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.6);
    height: 20px;
    float:left;
    margin: 0;
}
.cv-contact-details img{display: inline; vertical-align: middle; margin: -5px -5px 0 0;}
.cv-contact-details span{
    color:#ddd;
    margin: 0 45px 0 10px;
    font-size: 14px;
    line-height: 20px;
}
span.type{ margin: 0 5px;}
.cv-summary,
.cv-work-history,
.cv-education-history,
.cv-personal-skills,
.cv-interests,
.cv-references{
    width: 100%;
    border-bottom: 1px solid #eee; 
    float:left; 
    text-align:left;
    position:relative;
    padding-top: 30px;
    color:#444;
}

.cv-personal-statement{
    line-height: 32px; margin: 10px 100px 0 100px; font-style: italic;
}
.cv-career-objective, .cv-key-skills{
    width: 45%; float:left; margin: 0 1%; position: relative;
    line-height: 24px; padding:30px 0 0 0;
}
.cv-work-history{width: 100%; clear:both; overflow:auto; text-align:left;}


/* COMPANY INFO */

.cv-job{position: relative; border-bottom: 1px solid #eee; border-top: 1px solid #fff; padding-bottom: 30px;}
.cv-company-logo{display:none; max-width: 150px; vertical-align: middle; margin: 0;}
.cv-company-name{ font-size: 24px; margin: 15px 0 5px 0;}
.cv-company-location{font-size: 14px; color:#aaa; margin: 0;}
.cv-company-job-title{position: absolute; right: 10px; top:-20px; font-size: 20px; display: inline; color:#000;}
.cv-job-duration{position: absolute; right: 10px; top: 40px; font-size: 12px; color:#bbb;}
.cv-company-employment-type{display: none;}
.cv-job p, .cv-job li{line-height: 24px; color:#343434;}
.cv-company-description,.cv-job-skills{display: none;}
.cv-job a.link{float:right; display: block; margin-right: 10px;}
.cv-job-highlights{display: none;}

/* EDUCTATION SECTION */

.cv-education-history {text-align: center;}
.cv-education-history h2{text-align: left;}
.cv-education-grade{font-size: 24px; font-weight: 400;}
.cv-education-qualification{display: inline; font-size: 20px;}
.cv-education-institute{ margin: 5px 0; color:#797979;}
.cv-education-attendance-date{font-size: 14px; color:#aaa; margin-bottom: 20px; display: block;}

/* SKILLS */
.cv-skill-list{margin: 10px 0;}
.cv-skill-list dt{font-size: 20px; margin: 0 0 10px 10px; color:#000;}
.cv-skill-list dd{line-height: 24px; font-size: 16px; margin-bottom: 15px; color:#343434;}

/* INTERESTS */
.cv-interests dt{font-size: 20px; margin: 0 0 10px 10px; color:#000;}
.cv-interests dd{line-height: 24px; font-size: 16px; margin-bottom: 15px; color:#343434;}

/* CARD JOB CSS */
#card .cv-job{ width: 890px; text-align:left;}
#card .cv-job-header{background: #222; color:#fff; min-height: 100px;}
#card .cv-company-name{margin-left: 0;}
#card .cv-company-link{display: inline;}
#card .cv-company-logo{display: inline-block; margin: 15px 10px; }
#card .cv-company-name{display: inline;}
#card .cv-company-job-title{color:#fff; top: 0px;}
#card .cv-job-duration{top: 60px;}
#card .cv-company-body{background: #343434; color:#f0f0f0; margin: -20px 0 0 0; overflow: none; min-height: 120px;}
#card .cv-company-location{display: none;}
#card .cv-company-map-location{width: 100px; height: 100px; margin: 10px; background: #eee; float:left;}
#card .cv-company-description{
  display: block; color:#f0f0f0;
}
#card .cv-job-skills{display: block; padding: 10px 20px;}
#card .cv-company-description-tab{position: absolute; bottom: 10px; left: 10px; padding: 5px 8px; background: #343434; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
#card .cv-company-description{ padding: 20px 0;}
#card .cv-job-extra{overflow: none; float:left; width: 150%;}
#card .cv-job-highlights{width: 100%; background: #000; float:left; display: block;}
#card .cv-job-detail{padding: 10px;}
#card .more-info{display: none;}

/* UTILITY CLASSES */
#backdrop{position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,.5); z-index: 100; display: none;}
#card{background: #fff; position: fixed; z-index: 101; top: 155px; left: 0; display: none; width: 890px; box-shadow: 0 5px 10px rgba(25,25,25,.9);}
.first{border-top: none;}
.last{border-bottom: none;}
.link{text-align: center;}

